---
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import BlogPost from "../layouts/BlogPost.astro";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const base = import.meta.env.BASE_URL;
---
<Layout title="Short Thoughts">
  <div class="flex flex-col items-center max-w-prose mx-auto px-4 mt-8">
    <ul class="w-full">
      {allPosts.map(async (post) => {
        const { Content } = await render(post);
        return (
        <li class="border-b border-gray-200 py-4">
          <div class="flex flex-col items-center">
            <a
                href="/short-thoughts/blog/run-back-the-tape-to-prove-ones-self-righteousness/"
                class="max-w-[35ch] font-mansalva inline max-w-prose text-left">
              Run back the tape to prove one's self-righteousness
            </a>
          </div>  
          <div class="prose max-w-none pt-6">
              <Content />
          </div>
        </li>
        );
      })}
    </ul>
    
  </div>
</Layout>
